{% extends 'base.html' %}

{% block css %}

  <style>
    .text-center {
      text-align: center;
      padding-top: 300px;
      padding-left:500px;
    }

    h1{
      color:white;
      text-align: center;
      padding-top: 100px;
      font-family: 'courier,arial,helvetica';
    }

    h3{
      margin:40px;
      color:white;
    }


    .dataTables_filter {
      color: white !important;
    }
    .dataTables_length {
      color: white !important;
    }
    .dataTables_paginate {
      color: white !important;
    }
    .dataTables_info {
      color: white !important;
    }

    .paginate_button.next{
      color:white !important;
    }
    table.dataTable td{ 
      background-color: grey;  
      border:1px lightgrey;
    }

    li{
      color: white;
      text-align: center;
      font-size: 20px;
    }
</style>
{% endblock %}


{% block content %}

<h1><strong>Información sobre socios</strong></h1>

<h3>Total de socios registrados: {{cant_registrados}} personas</h3>

<h3>Promedio de edad de los socios de Racing: {{promedio_edad_socios_racing}} años</h3>

<h3>Los 100 socios más jóvenes, casados y con estudios universitarios:</h3>
<div class="container">
  <table class="table table-striped table-dark center" id="myTable" style="width:500px; border: 1px solid black; text-align: center">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Equipo</th>
      </tr>
    </thead>
    <tbody>
      {% for socio in universitarios_casados %}
          <tr>
            {% for dato in socio %}
              <td>{{dato}}</td>
            {% endfor %}
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3>5 nombres más comunes entre los socios de River:</h3>
<div class="container">
  <ul>
    {% for nombre in nombres_comunes_river %}
      <li>{{ nombre }}</li>
    {% endfor %}
  </ul> 
</div>

<h3>Equipos ordenados descendientemente según cantidad de equipos:</h3>
<div class="container">
  <table class="table table-striped table-dark center" style="width:600px; border: 1px solid black; text-align: center; margin-left: 250px">
    <thead>
      <tr>
        <th scope="col">Equipo</th>
        <th scope="col">Promedio de Edad</th>
        <th scope="col">Edad mínima</th>
        <th scope="col">Edad máxima</th>
      </tr>
    </thead>
    <tbody>
      {% for socio in edades_equipos %}
          <tr>
            {% for dato in socio %}
              <td>{{dato}}</td>
            {% endfor %}
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}



{% block js %}
  <script type="text/javascript">
    $(document).ready( function () {
    $('#myTable').DataTable({
      "language": {
           "sProcessing":    "Procesando...",
           "sLengthMenu":    "Mostrar _MENU_ registros",
           "sZeroRecords":   "No se encontraron resultados",
           "sEmptyTable":    "Ningún dato disponible en esta tabla",
           "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
           "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
           "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
           "sInfoPostFix":   "",
           "sSearch":        "Buscar:",
           "sUrl":           "",
           "sInfoThousands":  ",",
           "sLoadingRecords": "Cargando...",
           "oPaginate": {
               "sFirst":    "Primero",
               "sLast":    "Último",
               "sNext":    "Siguiente",
               "sPrevious": "Anterior"
           },
           "oAria": {
               "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
               "sSortDescending": ": Activar para ordenar la columna de manera descendente"
           }
       },
       "order": [],
    })
} );

  </script>
{% endblock %}

