{% extends 'base.html' %}

{% block css %}

  <style>
    .text-center {
      text-align: center;
      padding-top: 300px;
      padding-left:500px;
    }

    .rounded-pill{
      background-color:#999393;
      border-color:#999393;
      color: white;
      width:100px;
      margin: 60px;
      font-family: "Montserrat", sans-serif;
    }

    input[type="file"] {
      display:none;
    }

    .new-button {
    display: inline-block;
    padding: 8px 12px; 
    cursor: pointer;
    border-radius: 4px;
    background-color: #3999cc;
    font-size: 16px;
    color: #fff;
    }
  </style>
{% endblock %}


{% block content %}
<div class="text-center">
  <div class="card" style="width: 18rem; height: 230px">
    <div class="card-body">
      <h5 class="card-title">Añadí tu archivo .csv</h5>
       <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="document">
        <label class="new-button" for="file">
          Añadir archivo...
        </label>
        <button type="submit" class="rounded-pill">Enviar</button>
    </div>
  </div>
</div>
{% endblock %}
